@page
@model ClinicaStomatologicaPentruMedici.Pages.Prescriptions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Prescription.Id" />
            <div class="form-group">
                <label asp-for="Prescription.PatientId" class="control-label"></label>
                <select asp-for="Prescription.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="Prescription.PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.TreatmentId" class="control-label"></label>
                <select asp-for="Prescription.TreatmentId" class="form-control" asp-items="ViewBag.TreatmentId"></select>
                <span asp-validation-for="Prescription.TreatmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Prescription.TreatmentCost" class="control-label"></label>
                <input asp-for="Prescription.TreatmentCost" class="form-control" />
                <span asp-validation-for="Prescription.TreatmentCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Prescription.Medicines" class="control-label"></label>
                <input asp-for="Prescription.Medicines" class="form-control" />
                <span asp-validation-for="Prescription.Medicines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Prescription.Quantity" class="control-label"></label>
                <input asp-for="Prescription.Quantity" class="form-control" />
                <span asp-validation-for="Prescription.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
