@page
@model ClinicaStomatologicaPentruMedici.Pages.Appointments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment.ID" />
            <div class="form-group">
                <label asp-for="Appointment.PatientID" class="control-label"></label>
                <select asp-for="Appointment.PatientID" class="form-control" asp-items="ViewBag.PatientID"></select>
                <span asp-validation-for="Appointment.PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.DoctorID" class="control-label"></label>
                <select asp-for="Appointment.DoctorID" class="form-control" asp-items="ViewBag.DoctorID"></select>
                <span asp-validation-for="Appointment.DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Appointment.Date" class="control-label"></label>
                <input asp-for="Appointment.Date" class="form-control" />
                <span asp-validation-for="Appointment.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Appointment.Time" class="control-label"></label>
                <input asp-for="Appointment.Time" class="form-control" />
                <span asp-validation-for="Appointment.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Description" class="control-label"></label>
                <input asp-for="Appointment.Description" class="form-control" />
                <span asp-validation-for="Appointment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
